/* Body */

.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px 80px;
} 

/* Cards */
.card {
    height:600px;
    width:1000px;
    margin: 30px 0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 25px;
}

/* Overview for cards */
.overview {
    width: 190px;
    height:590px;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    color: rgb(95, 93, 93);
    text-align:center;
    justify-content: center;
    align-items:center;
}

.mockup h1 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: rgb(95, 93, 93);
    text-align: center;
    height:0px;
    margin: 0px;
    font-size: 50px;
    padding-top:30px;
}

.mockup {
    width: 700px;
    height:600px;
    border: none;
}

.links {
    margin-top: 175px;
    margin-left: 600px;
    height: 200px;
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Individual Overviews */
#overview1 {
    padding-top: 170px;
    padding-left: 30px;
}

#overview2 {
    padding-top: 235px;
    padding-left: 30px;
    color:white;
}

#overview3 {
    padding-top: 222px;
    padding-left: 30px;
    color:rgb(209, 84, 84);
}

#overview4 {
    padding-top: 196px;
    padding-left: 30px;
}

#overview5 {
    padding-top: 196px;
    padding-left: 30px;
}

#overview6 {
    padding-top: 240px;
    padding-left: 30px;
}



/* Button */

button {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin:10px;
    padding: 0.7rem 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: rgb(95, 93, 93);
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    border-color: rgb(95, 93, 93);
    background-color:transparent;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }
  
button:hover {
      transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}
/* images */

#img1 {
    height:600px;
    width:600px;
    position: absolute;
}

#img2 {
    height:600px;
    width:700px;
    position: absolute;
}

#img3 {
    height: 600px;
    width: 850px;
    position: relative;
    left: -98px;
}

#img4 {
    height: 500px;
    width: 750px;
    position: absolute;
    margin-top:40px;
    margin-left: -22px;
}

#img5 {
    height: 600px;
    width: 550px;
    position: absolute;
    margin-top: -27px;
    margin-left: 54px;
}

#img6 {
    height: 600px;
    width: 450px;
    position: absolute;
    margin-top: 40px;
    margin-left: 90px;
}


  
    @media screen and (max-width:1050px) {
          /* Body */
    .container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    } 

    /* Cards */
    .card {
        height: 400px;
        width: 800px;
        margin: 20px 20px;
    }

    .overview {
        height:600px;
        width:150px;
        text-align: center;
    }

    .overview p {
        position: relative;
        top: -100px;
    }

    .mockup {
        width:500px;
    }

    .links {
        position: relative;
        right:145px;

    }

}

@media screen and (max-width:850px) {
    .container {
        margin: 0px 20px;
    }

    /* Cards */
    .card {
        height: 460px;
        width: 460px;
        margin: 20px 20px;
    }

    .mockup h1 {
        position: relative;
        top:-130px;
        left:75px;
        font-size:40px;
    }

    .overview {
        height:150px;
        width:460px;
        text-align: center;
    }

    .overview p {
        position: relative;
        top: -130px;
        left:-15px;
    }

    .mockup {
        width: 300px;
    }
}
